# Aggregate Analysis
## Dataset: Video Game Sales
#### David Snowberger - 26 Mar 18

In [1]:
# Import libraries
import numpy as np
import pandas as pd
from datetime import date

In [2]:
df = pd.read_csv('data/vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [3]:
# Publishers with most number of records
df['Publisher'].groupby(df.Publisher, sort=False).count().sort_values(ascending=False).truncate(after='Ubisoft')

Publisher
Electronic Arts       1351
Activision             975
Namco Bandai Games     932
Ubisoft                921
Name: Publisher, dtype: int64

In [4]:
# Platforms with most number of records
df['Platform'].groupby(df.Platform, sort=False).count().sort_values(ascending=False).truncate(after='X360')

Platform
DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
Name: Platform, dtype: int64

In [5]:
# Genres with most number of records
df['Genre'].groupby(df.Genre, sort=False).count().sort_values(ascending=False).truncate(after='Role-Playing')

Genre
Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Name: Genre, dtype: int64

In [6]:
# Top 20 highest-grossing games
df.sort_values(by='Global_Sales',ascending=False).truncate(after=19)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

In [7]:
# Median N.A. sales (in millions of units)
na_median = df['NA_Sales'].median()
na_median

0.08

In [8]:
# Games closest to median N.A. sales
df['na_median_delta'] = abs(df['NA_Sales'] - na_median)
df[['Name','na_median_delta']].sort_values(by='na_median_delta').reset_index().truncate(after=9)

   index                                          Name  na_median_delta
0   8428                                      Payday 2              0.0
1  11386                                 Sushi Academy              0.0
2  10491                                       Syberia              0.0
3   5803    The Legend of Heroes: Trails of Cold Steel              0.0
4   3186                                SingStar Queen              0.0
5  11390  Super Robot Taisen OG Saga: Endless Frontier              0.0
6  11403       My English Coach: Para Hispanoparlantes              0.0
7   8141          Pirates: Hunt For Blackbeard's Booty              0.0
8  10463      Tom Clancy's Splinter Cell: Chaos Theory              0.0
9  10461              Metal Arms: Glitch in the System              0.0

In [9]:
# Mean and standard deviation of N.A. Sales
mu_na = df['NA_Sales'].mean()
sig_na = df['NA_Sales'].std()
[mu_na, sig_na]

[0.26466742981082064, 0.8166830292988796]

In [10]:
# Number of standard deviations from mean of highest selling game
(df.loc[df['Rank'] == 1].NA_Sales - mu_na) / sig_na

0    50.478988
Name: NA_Sales, dtype: float64

In [11]:
# Mean number of global Wii game sales, Mean number of global non-Wii game sales
wii_gs = df.loc[df['Platform'] == 'Wii']['Global_Sales'].mean()
nwii_gs = df.loc[df['Platform'] != 'Wii']['Global_Sales'].mean()
[wii_gs, nwii_gs]

[0.6994037735849057, 0.5233896418516336]

In [12]:
# Number of games released by year
df['Year'].groupby(df.Year).count()

Year
1980.0       9
1981.0      46
1982.0      36
1983.0      17
1984.0      14
1985.0      14
1986.0      21
1987.0      16
1988.0      15
1989.0      17
1990.0      16
1991.0      41
1992.0      43
1993.0      60
1994.0     121
1995.0     219
1996.0     263
1997.0     289
1998.0     379
1999.0     338
2000.0     349
2001.0     482
2002.0     829
2003.0     775
2004.0     763
2005.0     941
2006.0    1008
2007.0    1202
2008.0    1428
2009.0    1431
2010.0    1259
2011.0    1139
2012.0     657
2013.0     546
2014.0     582
2015.0     614
2016.0     344
2017.0       3
2020.0       1
Name: Year, dtype: int64

In [13]:
# Highest selling RPG's
df.loc[df['Genre'] == 'Role-Playing'][['Name', 'Global_Sales']].sort_values(by='Global_Sales', ascending=False).truncate(after=66)

                                         Name  Global_Sales
4                    Pokemon Red/Pokemon Blue         31.37
12                Pokemon Gold/Pokemon Silver         23.10
20              Pokemon Diamond/Pokemon Pearl         18.36
25              Pokemon Ruby/Pokemon Sapphire         15.85
26                Pokemon Black/Pokemon White         15.32
30    Pokémon Yellow: Special Pikachu Edition         14.64
32                        Pokemon X/Pokemon Y         14.35
49  Pokemon Omega Ruby/Pokemon Alpha Sapphire         11.33
58          Pokemon FireRed/Pokemon LeafGreen         10.49
66                          Final Fantasy VII          9.72

In [14]:
# Biggest NA - JP sales difference
df['diff'] = abs(df['NA_Sales']-df['JP_Sales'])
df[['Name','diff']].sort_values(by='diff',ascending=False)

                                             Name   diff
0                                      Wii Sports  37.72
9                                       Duck Hunt  26.65
1                               Super Mario Bros.  22.27
5                                          Tetris  18.98
15                             Kinect Adventures!  14.73
3                               Wii Sports Resort  12.47
2                                  Mario Kart Wii  12.06
7                                        Wii Play  11.10
8                       New Super Mario Bros. Wii   9.89
23                             Grand Theft Auto V   9.57
31                        Call of Duty: Black Ops   9.56
18                              Super Mario World   9.24
17                  Grand Theft Auto: San Andreas   9.02
29                 Call of Duty: Modern Warfare 3   8.90
36                 Call of Duty: Modern Warfare 2   8.44
35                     Call of Duty: Black Ops II   8.18
24                    Grand Theft Auto: Vice City   7.94
43                                         Halo 3   7.84
89                                        Pac-Man   7.28
10                                     Nintendogs   7.14
62                                    Halo: Reach   6.95
79                                         Halo 2   6.77
38                           Grand Theft Auto III   6.69
61                           Call of Duty: Ghosts   6.68
21                               Super Mario Land   6.65
51                            Grand Theft Auto IV   6.62
65                                         Halo 4   6.59
14                                   Wii Fit Plus   6.56
60                                   Just Dance 3   6.05
16                             Grand Theft Auto V   6.04
...                                           ...    ...
13867            Paddington: Adventures in London   0.00
13869                                   Caesar IV   0.00
13872        I'm A Celebrity: Get Me Out of Here!   0.00
13874   Harry Potter and the Order of the Phoenix   0.00
13879           Monster High: New Ghoul in School   0.00
13881                           Rugby Challenge 3   0.00
13883                        Superstars V8 Racing   0.00
15726     Revolution: 25th Anniversary Collection   0.00
15725                  Disciples III: Renaissance   0.00
13890                           100 Classic Games   0.00
13892                         Richard Burns Rally   0.00
13834                          SuperCar Challenge   0.00
15745     LEGO Star Wars II: The Original Trilogy   0.00
15746      Summer Challenge: Athletics Tournament   0.00
13788  Who Wants to be a Millionaire: 1st Edition   0.00
15763                      Divinity: Original Sin   0.00
13751       Resident Evil: Operation Raccoon City   0.00
13759                       Infamous: First Light   0.00
13770                                    Terraria   0.00
13772                            Empire Earth III   0.00
13784                          Guild Wars Trilogy   0.00
15756                    Turbo: Super Stunt Squad   0.00
15748                                  Just Cause   0.00
13791                       CSI: Fatal Conspiracy   0.00
13794                                 Fritz Chess   0.00
13806                  Resident Evil: Revelations   0.00
13809                             Phantom Breaker   0.00
13821          Burnout Paradise: The Ultimate Box   0.00
13831                         All Points Bulletin   0.00
10149   Monkey Island: Special Edition Collection   0.00

[16598 rows x 2 columns]